/* general */
body {
	margin: 0;
	padding: 0;
}
header.master {
	background-color: cyan;
	font-size: 8em;
	text-align: center;
}
.page-selector {
	background-color: #aaaaaa;
}

.page-selector select {
	width: 100%;
	font-size: 4em;
}

/* item list */

.page ul.item-list {
	background-color: #efefef;
	border: 0;
	margin: 0;
	padding: 0;
	list-style: none;
}

.page ul.item-list li.entry {
	min-height: 9em;
	padding-left: 1em;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	border-width: 0 0 1px 0;
	border-style: solid;

}
.page ul.item-list li.entry div {
	font-size: 3em;
}

/* panel */

.page .panel header {
	background-color: #ef99ef;
	font-size: 5em;
	text-align: center;
}

.page .panel .info {
	padding: 0 3em;
	margin-bottom: 4em;
	background-color: #efefef;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.page .panel .time {
	font-size: 3em;
	float: left;
	padding-right: 3em;
	border-right-width: 1px;
	border-right-style: solid;
}

.page .panel .location {
	font-size: 3em;
	float: right;
}

.page .panel .description {
	padding-left: 3em;
	padding-right: 3em;
	padding-bottom: 3em;
	background-color: #efefef;

}

.page .panel ul.speaker-list {
	background-color: #efefef;
	padding: 0;
	list-style: none;
}

.page .panel ul.speaker-list li {
	padding: 1em;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	border-width: 0 0 1px 0;
	border-style: solid;
}

.page .panel h3 {
	padding-left: 3em;
}
